*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #272727;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger{
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before{
    transform: translateY(-16px);
}

.menu-btn__burger::after{
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


#navigation{
    opacity: 0;
    min-height: 0px;
    max-height: 0px;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

#navigation.active{
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    padding: 26px;
    font-size: 1.2em;
    min-height: 100vh;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

#navigation.active li{
    transform: translateX(0px);
    transition-delay: 0.3s;
}

header nav ul li{
    line-height: 50px;
    list-style: none;
    transform: translateX(calc(-100% - 5rem));
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
}

#navigation ul{
    display: flex;
    flex-direction: column;
}

header div p img{
    height: 66px;
}
